@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject UserManager<AppUser> UserManager

@{
    var currentUserId = int.Parse(UserManager.GetUserId(User));
    var currentUserName = UserManager.GetUserName(User);
    var chatUsers = ViewData["chatUsers"] as List<ChatViewModel>;
    var chatUser = ViewData["chatUser"] as ChatUserViewModel ?? new ChatUserViewModel
    {
        Id = 0
    };
    
    var chatUserId = chatUser.Id;
}

<section id="user-content" style="margin:0px;background-color: #eee;">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-6 col-lg-5 col-xl-4 mb-4 mb-md-0">
                <h5 class="font-weight-bold mb-3 text-center text-lg-start">Member</h5>
                <div class="card">
                    <div class="card-body">
                        <ul class="list-unstyled mb-0">
                            @{
                                foreach (var chatUserModel in chatUsers)
                                {
                                    <li class="p-2 border-bottom" style="background-color: #eee;">
                                        <a asp-action="Chat" asp-route-id="@chatUserModel.Id"  class="d-flex justify-content-between">
                                            <div class="d-flex flex-row">
                                                <img src="/images/default_male_avatar.jpg" alt="avatar" class="rounded-circle d-flex align-self-center me-3 shadow-1-strong" width="60">
                                                <div class="pt-1">
                                                    <p class="fw-bold mb-0">@chatUserModel.Name</p>
                                                    <p class="small text-muted">@chatUserModel.LastMessage</p>
                                                </div>
                                            </div>
                                            <div class="pt-1">
                                                <p class="small text-muted mb-1">@chatUserModel.LastMessageDate</p>
                                            </div>
                                        </a>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-7 col-xl-8">
                <div class="bg-white m-2 mb-2 p-4">
                    <div class="d-flex flex-column ">
                        <div class="form-outline mb-2" >
                            <h1 class="visually-hidden" id="sendid">@currentUserId</h1>
                            <h1 class="visually-hidden" id="username">@currentUserName</h1>
                            <h3  id="chatUserName">@chatUser.Name</h3>
                            <h1 class="visually-hidden" id="userId">@chatUserId</h1>
                            <label class="form-label" for="message">Message:</label>
                            <textarea id="message" class="form-control" rows="2" placeholder="Enter message"></textarea>
                        </div>
                        <button type="button" id="sendButton" class="btn btn-info btn-rounded float-end ">Send</button>
                    </div>
                </div>
                
                
                <div id="messageContainer" class="list-unstyled d-flex flex-column-reverse">

                    @if (chatUser.Id != 0)
                    {
                        @foreach (var message in chatUser.Messages)
                        {
                            if (message.SenderId == currentUserId)
                            {
                                <div class="d-flex justify-content-between mb-4">
                                    <div class="note-card">
                                        <div class="card-body d-flex justify-content-between p-1 px-2">
                                            <p class="m-0">
                                                @message.Text
                                            </p>
                                            <p class="text-muted small m-0"><i class="far fa-clock"></i> @message.SendAt</p>
                                        </div>
                                    </div>
                                    <img src="/images/default_male_avatar.jpg" alt="avatar" class="rounded-circle d-flex align-self-start ms-3 shadow-1-strong" width="60">
                                </div>
                            }

                            if (message.ReceiverId == currentUserId)
                            {
                                <div class="d-flex justify-content-between mb-4">
                                    <img src="/images/default_male_avatar.jpg" alt="avatar" class="rounded-circle d-flex align-self-start me-3 shadow-1-strong" width="60">
                                    <div class="note-card">
                                        <div class="card-body d-flex justify-content-between p-1 px-2">
                                            <p class="m-0">
                                                @message.Text
                                            </p>
                                            <p class="text-muted small m-0"><i class="far fa-clock"></i> @message.SendAt</p>
                                        </div>
                                    </div>
                                </div>
                            }

                        }
                    }
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script src="/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script>
        $(document).ready(function () {
            const connection = new signalR.HubConnectionBuilder()
                .withUrl("/chatHub")
                .build();

            connection.start()
                .catch(error => {
                    console.error(error);
                });
            $("#sendButton").on("click", function () {
                const userId = $("#userId").text();
                if (userId === "0") {
                    alert("Please select a user to chat");
                    return;
                }
                
                const message = $("#message").val();
                const username = $("#username").text();
                const sendid = $("#sendid").text();
                
                connection.invoke("SendMessageToUser", userId, message, sendid)
                    .catch(error => {
                        console.error(error);
                    })
                    .finally(() => {
                        $("#userId").val("");
                                $("#messageContainer").append(`
                                        <div class="d-flex justify-content-between mb-4">
                      <div class="note-card">
                        <div class="card-body d-flex justify-content-between p-1 px-2">
                                                                    <p class="m-0">
                                                                        `+ message + `
                                                                    </p>
                                                                    <p class="text-muted small m-0"><i class="far fa-clock"></i> Just now</p>
                                                                </div>
                      </div>
                            <img src="/images/default_male_avatar.jpg" alt="avatar" class="rounded-circle d-flex align-self-start ms-3 shadow-1-strong" width="60">
                    </div>`);
                        $("#message").val("");
                    });

            });
            connection.on("ReceiveMessage", function (message, username) {
                
                const usernameChat = $("#chatUserName").text();
                
                if (usernameChat !== username) {
                    return;
                }
                $("#messageContainer").append(`
                                        <div class="d-flex justify-content-between mb-4">
                                                                         <img src="/images/default_male_avatar.jpg" alt="avatar" class="rounded-circle d-flex align-self-start me-3 shadow-1-strong" width="60">
                                            <div class="note-card">
                                        <div class="card-body d-flex justify-content-between p-1 px-2">
                                            <p class="m-0">
                                                `+ message + `
                                            </p>
                                            <p class="text-muted small m-0"><i class="far fa-clock"></i> Just now</p>
                                        </div>
                                            </div>
                                        </div>`);
                $("#message").val("");
            });

            // Stop the connection when the page is unloaded
            $(window).on("beforeunload", function () {
                connection.stop();
            });
        });
    </script>
}
