@using Microsoft.AspNetCore.Identity
@using TESNS.Models
@using TESNS.Models.Authentication
@using TESNS.ViewModels
@model CreatePostViewModel
@inject ApplicationDbContext _context
@inject UserManager<AppUser> UserManager
@inject SignInManager<AppUser> SignInManager
@{
    var currentUser = await UserManager.GetUserAsync(User);
    ViewData["Title"] = "Home Page";
}
<style>

    #user-content {
        display: block;
        min-width: 100%;
    }

    .note-card {
        position: relative;
        max-width: 100%;
        width: 100%;
        background-color: yellow;
        border-radius: 0;
        padding: 20px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        margin-bottom: 20px;
    }

    @@media (max-width: 600px) {
        .note-card {
            width: 100%;
        }
    }


    .note-card::before {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 40px;
        height: 40px;
        background-color: rgba(0, 0, 0, 0.2);
        clip-path: polygon(0 100%, 100% 0, 100% 100%);
    }



    .note-card p {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        margin-top: 20px;
        box-sizing: border-box;
        background-color: transparent;
        resize: none;
    }

    .note-card .send-button {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        align-items:center;
        margin-left:5%;

    }

        .note-card .send-button button {
            padding: 10px 20px;
            background-color:mediumslateblue;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
        }

    .note-card .date {
        position: absolute;
        top: 10px;
        right: 30px;
        font-size: 14px;
        color: #888;
    }
    .note-card .settings {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 14px;
        color: #888;
    }

    .note-card .feedback {
        position: absolute;
        bottom: 10px;
        left: 10px;
        font-size: 14px;
        color: #888;
    }

        .note-card .feedback button {
            background-color: transparent;
            border: none;
            color: #888;
            cursor: pointer;
            margin-right: 10px;
        }

    .note-card .image-container {
        text-align: center; /* Görseli merkeze hizala */
        margin-top: 20px; /* p ile arasında boşluk bırak */
        margin-bottom:20px;
    }

        .note-card .image-container img {
            max-width: 50%; /* Görselin maksimum genişliğini ayarla */
            height: auto; /* Orantılı olarak yüksekliği otomatik ayarla */
        }

    .note-card .image-container-upload {
        text-align: center; /* Görseli merkeze hizala */
        margin-top: 20px; /* p ile arasında boşluk bırak */
        margin-bottom: 20px;
        width:50%;
        height:auto;
    }

        .note-card .image-container-upload img {
            max-width: 100%; /* Görselin maksimum genişliğini ayarla */
            height: auto; /* Orantılı olarak yüksekliği otomatik ayarla */
        }

   

    .user-profile {
        display: flex;
        align-items: center;
    }

    .profile-picture {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
    }

    .username {
        margin-left: 10px;
        font-weight: bold;
    }

    .note-card textarea {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        margin-top: 20px;
        box-sizing: border-box;
        background-color: transparent;
        resize: none;
    }
    #dropArea{
        width:50%;
    }
    #ImagePath{
        width:50%;
    }
    .explain{
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        margin-top: 20px;
        box-sizing: border-box;
        background-color: transparent;
        resize: none;
    }

</style>


<div id="user-content" style="margin:0px;">
    <!--
    <div>
    <form method="post" asp-action="CreatePost" asp-controller="Post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="margin-bottom:10px;">
            <input asp-for="Text" class="form-control" placeholder="share your opinion"/>
            <span asp-validation-for="Text" class="text-danger"></span>
        </div>
            <div class="form-group" style="margin-bottom:10px">
            <input asp-for="ImagePath" type="file" class="form-control" />
            <span asp-validation-for="ImagePath" class="text-danger"></span>
        </div>
        <div class="form-group" style="margin-bottom:30px">
            <input type="submit" value="SMILEY" class="btn btn-primary" />
        </div>
    </form>
    </div>
    -->
    
    <div class="note-card">
        <form method="post" asp-action="CreatePost" asp-controller="Post" enctype="multipart/form-data">
            <div style="background-color:transparent;border:none;"> <input asp-for="Header" style="background-color:transparent;border:none; width:100%;" placeholder="What Is The Today's Topic ? ^-^" /> </div>

            <textarea asp-for="Text" oninput="autoResize(this)" placeholder="How Do You Feel Today ^-^"></textarea>
            <div class="d-flex flex-row justify-content-center align-content-center">
                <div class="image-container-upload" style="border-style: dashed; border-color: gray; border-width:2px; position: relative; display: flex; justify-content: center; align-items: center;">
                    <div id="dropArea" ondragover="handleDragOver(event)" ondrop="handleDrop(event)" onclick="handleClick()">
                        <i id="upload-icon" class="bi bi-upload"></i> <p id="upload-text">Upload An Image</p>
                        <img id="PostImagePrv" src="" width="100%" height="auto">
                    </div>
                    <input asp-for="ImagePath" id="ImagePath" name="ImagePath" type="file" style="display: none;" accept="image/*" onchange="handleFileSelect(event)">
                    <span asp-validation-for="ImagePath" class="text-danger"></span>
                </div>
                <div class="send-button">
                    <button type="submit">Send</button>
                </div>
            </div>
        </form>
    </div>
    @{
        var posts = _context.Posts.ToList(); // Retrieve posts from the database before the loop
    }

    @foreach(var item in posts.OrderByDescending(i => i.PublishDate))
    {
        <div style="" class="modal" id="reportModal_@item.Id">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Report Community Rule Violation</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        @{
                            var author = _context.Users.FirstOrDefault(i => i.Id == item.UserId);
                            var authorName = author?.UserName;
                        }
                        <p>Why do you want to report @authorName?</p>
                        <textarea class="explain" placeholder="Explain here"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <form method="post" asp-action="DeletePost" asp-controller="Post">
                            <input type="hidden" name="id" value="@item.Id" />
                            <button type="submit" class="btn btn-danger">Report</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div style="" class="modal" id="deleteModal_@item.Id">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">WARNING</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete this post? The delete process cannot be undone!
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <form method="post" asp-action="DeletePost" asp-controller="Post">
                            <input type="hidden" name="id" value="@item.Id" />
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        var user = _context.Users.FirstOrDefault(u => u.Id == item.UserId);
        var profilePhoto = user?.ProfilePhoto;
        var userName = user?.UserName;

        <div class="note-card">
            <div class="user-profile">
                <img class="profile-picture" src="@profilePhoto">
                <div class="username">@userName</div>
            </div>
            <div>@item.Text</div>
            <div class="date">@item.PublishDate</div>
            <div class="settings">
                <a href="#" style="text-decoration:none;" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-three-dots"></i>
                </a>
                <ul class="dropdown-menu">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        if (currentUser.Id == item.UserId)
                        {
                            <li><a class="dropdown-item" href="#">Update <i class="bi bi-pencil"></i></a></li>
                            <li>
                                <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#deleteModal_@item.Id">Delete <i class="bi bi-trash"></i></a>
                            </li>
                            <li class="dropdown-caret"></li>
                        }
                        else
                        {
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#reportModal_@item.Id">Report <i class="bi bi-flag"></i></a></li>
                            <li class="dropdown-caret"></li>
                        }
                    }
                    else
                    {
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#reportModal_@item.Id">Report <i class="bi bi-flag"></i></a></li>
                        <li class="dropdown-caret"></li>
                    }

                </ul>

            </div>
            
            <!--
            <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteModalLabel">Confirm Deletion</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete this post?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <form method="post" asp-action="DeletePost" asp-controller="Post">
                                <input type="hidden" name="id" value="@item.Id" />
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            -->
            <div class="image-container">
                <img src="@item.ImagePath">
            </div>
            <!--<p oninput="autoResize(this)" placeholder="Enter text here">Okuma tutkunları olarak, son zamanlarda piyasaya çıkan kitaplar arasında önerilerimizi paylaşalım. Hangi kitapların sizi etkilediğini, hangi yazarların yeni eserleriyle dikkat çektiğini tartışabiliriz.</p>-->
            <!--
            <div class="send-button">
                <button type="submit">Send</button>
            </div>
            -->
            <!--
            <div class="image-container">
                <img src="path/to/your/image.jpg">
            </div>
            -->
            <div class="feedback">
                <button>Like</button>
                <button>Comment</button>
                <span>@item.LikeCount <i class="bi bi-heart-fill"></i> </span>
                <span>@item.CommentCount <i class="bi bi-chat-left-fill"></i></span>
            </div>

        </div>
    }
  
</div>

    <script type="text/javascript" >
    function autoResize(p) {
        p.style.height = 'auto';
        p.style.height = p.scrollHeight + 'px';
    }
        function handleDragOver(event) {
            event.stopPropagation();
            event.preventDefault();
            event.dataTransfer.dropEffect = 'copy';

        }

    function handleDrop(event) {
        event.stopPropagation();
        event.preventDefault();

        var files = event.dataTransfer.files;
        if (files.length > 0) {
            var file = files[0];
            if (file.type.match('image.*')) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    document.getElementById('PostImagePrv').src = e.target.result;
                    document.getElementById('ImagePath').files = files; // Resmi input alanÄ±na ekleyin
                };
                reader.readAsDataURL(file);
            }
        }

    }

    function handleClick() {
        document.getElementById('ImagePath').click();
    }

    function handleFileSelect(event) {
        var files = event.target.files;
        if (files.length > 0) {
            var file = files[0];
            if (file.type.match('image.*')) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    document.getElementById('PostImagePrv').src = e.target.result;
                };
                reader.readAsDataURL(file);
            }
        }
        document.getElementById('upload-icon').style.display = "none";
        document.getElementById('upload-text').style.display = 'none';
    }
</script>
