@using Microsoft.AspNetCore.Identity
@model CommunityDetailViewModel
@inject ApplicationDbContext _context;
@inject UserManager<AppUser> userManager;
@{
    var currentUser = await userManager.GetUserAsync(User);
    var checkJoin = _context.CommunityUsers.FirstOrDefault(i => i.CommunityId == Model.Id && i.UserId == currentUser.Id);
}
<div class="container emp-profile d-block">
    <form method="post">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="note-card card mt-5">
                        <div class="profile-background" style="text-align:center;">
                            <img src="@Model.LogoUrl" style="width: 90%; height: 130%;" />
                        </div>
                        <div class="card-body text-center">
   
                            <img src="@Model.LogoUrl" class="rounded-circle mb-3" alt="Profil Resmi" style="width: 150px; height: 150px; object-fit: cover; position: relative; margin-top: -125px;">
                            <h5 class="card-title">@Model.Name</h5>
                            <p class="card-text">@Model.Description</p>
                            @if (checkJoin == null) { 
                            <input type="submit" class="btn btn-primary mb-3" asp-action="JoinCommunity" value="Join" asp-controller="Community" asp-route-id="@Model.Id"/>
                            }
                            else
                            {
                            <input type="submit" class="btn btn-primary mb-3" asp-action="QuitCommunity" value="Quit" asp-controller="Community" asp-route-id="@Model.Id" />
                            }
                            <hr />
                            <div class="row">
                                <div class="col">
                                    <input type="submit" class="btn btn-primary mb-3" asp-action="ShowCommunityUsers" value="Users" asp-controller="Community" asp-route-id="@Model.Id" />
                                    <p class="lead">100</p>
                                </div>
                                <div class="col">
                                    <p class="text-muted">Posts</p>
                                    <p class="lead">50</p>
                                </div>
                                <div class="col">
                                    <p class="text-muted">Ranks</p>
                                    <p class="lead">10</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </form>