@using Microsoft.AspNetCore.Identity
@model TESNS.ViewModels.EditProfileViewModel
@inject UserManager<AppUser> UserManager
@{
    ViewData["Title"] = "EditProfile";
    var currentUser = await UserManager.GetUserAsync(User);
}
<link rel="stylesheet" href="~/css/detailprofile.css" />

<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="@currentUser.ProfilePhoto"><span class="font-weight-bold">@currentUser.UserName</span><span class="text-black-50">@currentUser.Email</span><span> </span></div>
        </div>
        <div class="form-group">
            <@*h5 style="margin-bottom:6px;">Cover Photo</h5>
            <input asp-for="CoverPhoto" value="https://res.cloudinary.com/daw0gahvl/image/upload/v1687712292/samples/balloons.jpg" type="file" class="form-control" />
            <span asp-validation-for="CoverPhoto" class="text-danger"></span>*@
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <form asp-action="EditProfile" enctype="multipart/form-data">
                <div class="row mt-2">
                    <div class="col-md-6"><h5 style="margin-bottom:6px;">Username</h5><input asp-for="UserName" class="form-control" placeholder="username" value="@currentUser.UserName"></div>
                </div>
                <div class="row mt-3">
                        <div class="col-md-6"><h5 style="margin-bottom:6px;">Phone Number</h5><input asp-for="PhoneNumber" class="form-control" value="@currentUser.PhoneNumber" placeholder="phone number"></div>
                        <div class="col-md-12"><h5 style="margin-bottom:6px;">Birth Date</h5><input asp-for="BirthDate" class="form-control" placeholder="birth date" value="@currentUser.BirthDate"></div>
                        <div class="col-md-12">
                            <h5 style="margin-bottom:6px; margin-right:6px;">Gender</h5><select asp-for="Gender" asp-items="@Html.GetEnumSelectList<Gender>()"> </select>
                </div>
                        <div class="form-group">
                            <h5 style="margin-bottom:6px;">Profile Photo</h5>
                            <input asp-for="ProfilePhoto" value="http://res.cloudinary.com/daw0gahvl/image/upload/v1687924653/upz1ztj9ue8a7thqdzie.jpg" type="file" class="form-control" />
                            <span asp-validation-for="ProfilePhoto" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <h5 style="margin-bottom:6px;">Cover Photo</h5>
                            <input asp-for="CoverPhoto" value="https://res.cloudinary.com/daw0gahvl/image/upload/v1687712292/samples/balloons.jpg" type="file" class="form-control" />
                            <span asp-validation-for="CoverPhoto" class="text-danger"></span>
                        </div>
                        <div class="mt-5 text-center" style="margin-top:10px"><input type="submit" value="Save" class="btn btn-primary profile-button" ></div>
                </form>
            </div>
        </div>
        
    </div>
</div>
</div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
